.shoppingTodo {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 60px;
  cursor: pointer;
  transform: transition (all 1s);
}

.contadorUnidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25px;
  margin-left: 5px;
  background-color: rgb(120, 9, 224);
  color: salmon;
  border-radius: 5px;
}

.contadorUnidades {
  padding: 0px 3px;
}

.shoppingTodo {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 60px;
}
