*{
     margin: 0;
     padding: 0;
}
.cart-full{
    height: 800px;
}
.cart-full-h{
    letter-spacing: 3px;
    margin-top: 40px;
}

.detalles{
    letter-spacing: 6px;
/*     margin-top: 40px; */
}

.botonera-item-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.subTotal{
    margin-left: 20px;
}