.full-form{

    height: 600px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    letter-spacing: 1.1rem;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

.formulario{
    width: 340px;
    border: 1px solid rgb(120, 9, 224);
    border-radius: 8px;
}

.reglon-de-form{
    font-size: 1.4rem;
    margin: 15px 00px 15px 0px;
}


.enviar {
    cursor: pointer;
    padding: 2px 30px;
    border: 1px solid rgb(120, 9, 224);
    border-radius: 8px;
}

.enviar:hover{
    background-color: rgb(120, 9, 224);
    text-decoration: none;
    color : salmon;
}

