.top-contenedor-Item-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contenedor-Item-detail{
    margin-top: 20px;
    width: 800px;
    height: auto;
/*     margin: 10px 10px 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    flex-flow: wrap;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgba(0 0 0 / 9%); ;
}

.anyTravel-detail{
    margin-top: 18px;
    display: flex ;
    flex-direction: column;
    justify-content: end;
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
}

.imagen-Item-detail {
    width: 340px;
    max-height: 226px;
}

.contenedor-texto-Item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    padding: 40px;
    margin-left: 20px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.1;
}

.contenedor-texto-Item-detail-bajo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    font-size: 1rem;
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.1;
}

.contenedor-texto-Item-detail-bajo h3{
    width: 600px;
}
.nombre-Item-detail{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.incluye-Item-detail {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.precio-Item-detail{
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 10px;
}

.contador-detail{
    margin-left: 10px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(120, 9, 224);
    border: 0;
    padding: 3px 4px;
    border-radius: 0.4rem;
    transition: all 0.6s;
    color: salmon;
    font-size: 1em;
    text-align: center;
}
.contador-detail input a {
    
    color: green;
    text-decoration: none;
    font-size: bold;
    margin-left: 10px;
}
.contador-detail a:hover {
    color: salmon;
}

.fechasTodas-detail{
    margin-bottom: 20px;
    margin-top: 15px;
}

.checkIn-detail input{
    margin-left: 10px;
    border: 1px solid #000;
    background-color:rgb(120, 9, 224);
    margin-top: 10px;
    margin-bottom: 10px;
    color: salmon;
    font-size: 16px;
}

.checkOut-detail {
    margin-right: 10px;

}


.checkOut-detail input{
    margin-left: 10px;
    border: 1px solid #000;
    background-color:rgb(120, 9, 224);
    margin-top: 10px;
    margin-bottom: 10px;
    color: salmon;
    font-size: 16px;
}

.agregarACarrito-detail{

    border: 0;
    padding: 3px 4px;
    border-radius: 0.4rem;
    transition: all 0.6s;
    font-size: 1.1em;
    text-align: center;
    border: 2px solid rgb(120, 9, 224);
    transition: all 0.6s;
    text-decoration: none;
    color : rgb(120, 9, 224);
    font-size: bold;
    cursor: pointer;
}
.agregarACarrito-detail:hover{
    background-color: rgb(120, 9, 224);
    text-decoration: none;
    color : salmon;
}



