.top-contenedor-Item-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;

}
.contenedor-Item-detail{
    margin-top: 20px;
    width: 900px;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgba(0 0 0 / 9%); 
}

.contenedor-Item-detail-alto{
    display: flex;
    flex-direction: row;
}

.anyTravel-detail{
    margin-top: 18px;
    margin-left: 11px;
    display: flex ;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
}

.imagen-Item-detail {
    width: 340px;
    max-height: 226px;
}

.contenedor-texto-Item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    padding: 40px;
    margin-left: 20px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.1;
}

.contenedor-texto-Item-detail-bajo{
    flex-direction: column;
    align-items: start;
    justify-items: start;
    justify-content: space-around;
    flex-flow: wrap;
    font-size: 1rem;
    text-align: center;
    padding: 20px 00px 40px 00px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    height: 209px;
}

.contenedor-texto-Item-detail-bajo h3{
    width: 600px;
}

.letrasNumeros{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    justify-content: space-between;
    height: 97px;
    width: 800px;
}
.nombre-Item-detail{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.incluye-Item-detail {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 12px;
}

.precio-Item-detail{
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 10px;
}

.contador-detail{
    margin-left: 10px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(120, 9, 224);
    border: 0;
    padding: 3px 4px;
    border-radius: 0.4rem;
    transition: all 0.6s;
    color: salmon;
    font-size: 1em;
    text-align: center;
}

.contador-detail input a {
    color: green;
    text-decoration: none;
    font-size: bold;
    margin-left: 10px;
}

.contador-detail a:hover {
    color: salmon;
}

.fechasTodas-detail{
    margin-bottom: 20px;
    margin-top: 5px;
}

.checkIn-detail input{
    margin-left: 10px;
    border: 1px solid #000;
    background-color:rgb(120, 9, 224);
    margin-top: 10px;
    margin-bottom: 10px;
    color: salmon;
    font-size: 16px;
}

.checkOut-detail {
    margin-right: 10px;
}

.checkOut-detail input{
    margin-left: 10px;
    border: 1px solid #000;
    background-color:rgb(120, 9, 224);
    margin-top: 10px;
    margin-bottom: 10px;
    color: salmon;
    font-size: 16px;
}

.agregarACarrito-detail{
    border: 0;
    padding: 3px 4px;
    border-radius: 0.4rem;
    transition: all 0.6s;
    font-size: 1.1em;
    text-align: center;
    border: 2px solid rgb(120, 9, 224);
    text-decoration: none;
    color : rgb(120, 9, 224);
    font-size: bold;
    cursor: pointer;
}

.agregar-volver{
    width: 320px;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.itemdetail{
    margin-top: 40px;
    margin-left: 10px;
}
.itemdetail:hover{
    background-color: rgb(120, 9, 224);
    text-decoration: none;
    color : salmon;
}


@media  (max-width: 975px) {
    .contenedor-Item-detail{
        height: 1000px;
        width: 80vw;

    }
    .contenedor-Item-detail-alto{
        flex-direction: column;
        align-items: center;
        height: 300px;
    }
    .contenedor-texto-Item-detail{
        padding-bottom: 5px;
    }
    .contenedor-texto-Item-detail-bajo{
        display: flex;
        flex-direction: column;
        height: 600px;
        align-items: center;
        

    }
    .contenedor-texto-Item-detail-bajo h3 {
        width: 40vw;
    }
    .contenedor-texto-Item-detail-bajo{
        flex-wrap: nowrap;
        width: 60vw;
        height: 300px;
    }
    .letrasNumeros{
        justify-content: start;
    }
    .agregar-volver{
        height: 300px;
    }
}

@media  (max-width: 518px) {
    .contenedor-texto-Item-detail{
        padding: 40px 0px;
        padding: 40px 0px;
    }
    .imagen-Item-detail{
        width: 300px;
    }
}  