.NaturAdventure{
    color: rgb(120, 9, 224);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 2rem;

}

header {
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height: 95px;
    background-color: rgb(235, 235, 235);
}

.header nav ul  {
    padding-top: 10px ;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.liNav {
    text-decoration: none;
    color: black;
    transition: all 0.7s;
    width: 40px;
    list-style: none;
    margin: 1rem 8px 1rem 8px;
    padding: 0.3rem;
}


.liNav:hover {
    color: white;
    background-color: rgb(120, 9, 224);
    border-radius: 5px;
    padding: 6px 8px 6px 8px;
    background-color: rgb(120, 9, 224);
    border-radius: 0.4rem;
    
}
.ulNav {
    display: flex;
    list-style: none;
        text-decoration: none;

}

a:-webkit-any-link {

    cursor: pointer;
    text-decoration: none;
}

/* responsive abajo */
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
/*      right: 30px;  */
   z-index: 2;
   font-size: 1.5rem;
   padding-left: 12px;
   padding-right: 12px;
   padding-bottom: 4px;
   margin-left: 20px;
   vertical-align: middle;
   border-radius: 4px;
   background-color: rgb(26, 26, 26, 0.9);
   display: none;
}
.menu-btn img{
    padding-top: 5px;
    padding-bottom: 1px;
   vertical-align: middle;

}

@media (max-width: 910px){
    
 }